@import url('https://fonts.googleapis.com/css2?family=Amiri:ital@0;1&display=swap');
.text-color{
   color: black;
    background-color: aqua;
}
  
#first{
    color: brown;
    font-family: 'Amiri', serif;
    width: 63px;
}